<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>
    <div class="ae-container-fluid rk-topbar">

        <h1 class="rk-logo">
            <a routerLink="home"><img class="homogeneizarLogo" src="assets/img/logorenoart.png" alt=""></a>
        </h1>
        <nav class="rk-navigation">
            <ul class="rk-menu">
                <li routerLinkActive="active" class="rk-menu__item"><a routerLink="home" class="rk-menu__link">Home</a>
                </li>
                <li routerLinkActive="active" class="rk-menu__item"><a href="portfolio.html" class="rk-menu__link">Portfolio</a>
                </li>
                <li routerLinkActive="active" class="rk-menu__item"><a href="blog.html" class="rk-menu__link">Blog</a>
                </li>
                <li routerLinkActive="active" class="rk-menu__item"><a routerLink="about" class="rk-menu__link">Contact Us</a>
                </li>
            </ul>
            <div class="rk-search">
                <input (keyup.enter)="buscarProducto(txtBuscar.value)" type="text" placeholder="Buscar..." id="urku-search" class="rk-search-field" #txtBuscar>
                <label for="urku-search">
                  <svg>
                    <use xlink:href="assets/img/symbols.svg#icon-search"></use>
                  </svg>
                </label>
            </div>
        </nav>
    </div>
</header>
